.profileData {
     display: flex;
     flex-direction: column;
     gap: 45px;
     align-items: center;
     border-radius: 4px;
     width: 100%;

}

.profileData .firstData {
     display: flex;
     flex-direction: column;
     gap: 1em;
     align-items: center;
     justify-content: center;
     background: rgba(121, 106, 205, 0.70);
     padding: 1em 2em 2.5em;
     border-radius: 3px;
}

.profileData .firstData p {
     color: #FFF;
     font-family: Montserrat;
     font-size: 12.04px;
     font-style: normal;
     font-weight: 500;
     line-height: normal;
     letter-spacing: 0.12px;
     margin: 0px;
}

.containPhoto {
     width: 5em;
     height: 5em;
     flex-shrink: 0;
     border-radius: 50%;
     margin: 0.3em;
     overflow: hidden;
}

.containPhoto > img{
     width: 100%;
     height: 100%;
     object-fit: cover;
}

.containData {
     display: flex;
     flex-direction: column;
     gap: 1em;
}

.containData .levelPrice,
.containData .nameRole {
     display: flex;
     justify-content: space-between;
     gap: 90px;
}

.containData .nameRole .name {
     color: #FFF;
     font-family: Montserrat;
     font-size: 14.04px;
     font-style: normal;
     font-weight: 600;
     line-height: normal;
     letter-spacing: 0.14px;
}

.containData .nameRole .role {
     color: #FFF;
     font-family: Montserrat;
     font-size: 11.04px;
     font-style: normal;
     font-weight: 500;
     line-height: normal;
     letter-spacing: 0.442px;
}


.levelLine,
.order_line,
.earning_line,
.rating_line,
.deliveryLine,
.project_line {
     position: relative;
     z-index: 0;
     display: flex;
     flex-direction: column;
     gap: 5px;
}


.levelBar,
.orderBar,
.earningBar,
.deliveryBar,
.deliveryBar,
.projectBar {
     width: 100%;
     background: rgba(255, 255, 255, 1);
     height: 6px;
     z-index: 1;
     border-radius: 100px;

}

.levelFill {
     width: 47%;
     background: #796ACD;
     height: 6px;
     border-radius: 100px;
     display: flex;
     justify-content: flex-end;
     align-items: center;

}

.orderFill {
     width: 65%;
     background: #796ACD;
     height: 6px;
     border-radius: 100px;
     display: flex;
     justify-content: flex-end;
     align-items: center;
}

.earningFill {
     width: 8.3%;
     background: #796ACD;
     height: 6px;
     border-radius: 100px;
     display: flex;
     justify-content: flex-end;
     align-items: center;
}

.ratingFill {
     width: 85%;
     background: #796ACD;
     height: 6px;
     border-radius: 100px;
     display: flex;
     justify-content: flex-end;
     align-items: center;
}

.deliveryFill {
     width: 100%;
     background: #796ACD;
     height: 6px;
     border-radius: 100px;
     display: flex;
     justify-content: flex-end;
     align-items: center;
}


.projectFill {
     width: 50%;
     background: #796ACD;
     height: 6px;
     border-radius: 100px;
     display: flex;
     justify-content: flex-end;
     align-items: center;
}


.profileData .secondData {
     width: 100%;
     background: rgba(121, 106, 205, 0.70);
     border-radius: 3px;
}
.lines > div{
     display: flex;
     flex-direction: column;
     gap: 0.5em;
}

.profileData .secondData p {
     color: #FFF;
     font-family: Montserrat;
     font-size: 12.04px;
     font-style: normal;
     font-weight: 500;
     line-height: normal;
     letter-spacing: 0.12px;
     margin: 0px;
}

.profileData .secondData .lines {
     margin: 2.5em 2em;
     display: flex;
     flex-direction: column;
     gap: 2em;
}

.deliveryLine div {
     display: flex;
     flex-direction: row;
     align-items: center;
     gap: 7px;
}

.deliveryLine img {
     width: 15px;
     height: 15px;
}

.deliveryLine p {
     width: fit-content;
}