

.filter {
     border-radius: 3px;
     border: 2px solid #796ACD;
     width: auto;
     flex-shrink: 0;
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 0em 1em;
     height: fit-content;
}


.filter>p {
     margin: 20px 0px;
     color: #796ACD;
     font-family: Montserrat;
     font-size: 1.4em;
     font-style: normal;
     font-weight: 600;
     line-height: normal;
     letter-spacing: 0.562px;
}

.filter .filtering {
     border-top: 2px solid #796ACD;
     margin-bottom: 20%;
}

.filter .filtering .filterOption,
.filter .filtering .filterOptionPrice {
     display: flex;
     flex-direction: column;
     align-items: flex-start
}

.filteringTitle {
     margin: 20px 0px 0px 0px;
     color: #796ACD;
     font-family: Montserrat;
     font-size: 0.9em;
     font-style: normal;
     font-weight: 600;
     line-height: normal;
     letter-spacing: 0.402px;
}

.checkboxGroup {
     display: flex;
     flex-direction: column;
     margin: 0.5em 0em 0.5em 1em;
     gap: 0.3em;
}

.checkboxTest {
     display: flex;
}

.checkboxTest label {
     margin-left: 0.5em;
     color: #796ACD;
     font-family: Montserrat;
     font-size: 12px;
     font-style: normal;
     font-weight: 500;
     line-height: normal;
     letter-spacing: 0.33px;
     display: flex;
     align-items: center;
     gap: 3px;
}

input[type=checkbox] {
     padding: 0.1em;
     accent-color: #796ACD;
     transition: 0.3s;
}

.type {
     margin-left: 1em;
     display: flex;
     flex-direction: column;
     gap: 0.4em;
}

.checkboxGroupHourly,
.checkboxGroupFix {
     display: flex;
     flex-direction: column;
     margin: 0.5em 0em 0.5em 1em;
     gap: 0.8em;

}

.type .checkboxTest .val {
     display: flex;
     padding: 3px 8px;
     align-items: center;
     border-radius: 1px;
     border: 0px;
     background: #EDEBEB;
     text-align: center;
     color: #796ACD;
     font-family: Montserrat;
     font-size: 11px;
     font-style: normal;
     font-weight: 500;
     line-height: normal;
     letter-spacing: 0.51px;
     width: 5em;
}

.valFrom,
.valTo {
     display: flex;
     padding: 3px 8px;
     align-items: center;
     border-radius: 1px solid #796ACD;
     border: 0px;
     background: #EDEBEB;
     text-align: center;
     color: #796ACD;
     font-family: Montserrat;
     font-size: 11px;
     font-style: normal;
     font-weight: 500;
     line-height: normal;
     letter-spacing: 0.51px;
     width: 3em;
}

.valFrom::placeholder,
.valTo::placeholder {
     color: #796ACD;
     font-family: Montserrat;
     font-size: 9px;
     font-style: normal;
     font-weight: 500;
     line-height: normal;
     letter-spacing: 0.165px;
}

.type .checkboxTest .val::placeholder {
     color: #796ACD;
     font-family: Montserrat;
     font-size: 9px;
     font-style: normal;
     font-weight: 500;
     line-height: normal;
     letter-spacing: 0.165px;
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
     -webkit-appearance: none;
     margin: 0;
}





.checkboxTest input[type="number"]:focus {
     outline: none;
     border: none;
}

.checkboxTest input[type="radio"] {
     -webkit-appearance: none;
     appearance: none;
}

.checkboxTest label {
     position: relative;
     padding-left: 25px;
}

.checkboxTest label::before {
     content: "";
     width: 16px;
     height: 16px;
     border: 1px solid #796ACD;
     border-radius: 1px;
     position: absolute;
     left: 0;
     top: 50%;
     transform: translateY(-50%);
     background: white;
}

.checkboxTest input[type="radio"]:checked+label::after,
.checkboxTest input[type="radio"]:not(:checked):hover+label::after {
     content: "";
     background-color: #796ACD;
     border-radius: 1px;
     width: 10px;
     height: 10px;
     position: absolute;
     left: 3px;
     top: 3px;
}

.type .checkboxTest input[type="radio"]:checked+label::after,
.type .checkboxTest input[type="radio"]:not(:checked):hover+label::after {
     content: "";
     background-color: #796ACD;
     border-radius: 1px;
     width: 10px;
     height: 10px;
     position: absolute;
     left: 3px;
     top: 3px;
}

.checkboxTest input[type="radio"]:not(:checked):hover+label::after {
     opacity: 0.2;
}

.checkboxTest input[type="radio"]:checked+label {
     color: #796ACD;
}
