* {
     color: #000;
     font-family: Montserrat;
     font-style: normal;
     line-height: normal;
     margin: 0px;
     padding: 0px;
}

.body {
     display: flex;
     flex-direction: column;
     align-items: center;
}

.bodyforload {
     position: absolute;
     top: 45%;
     left: 47%;
}

section {
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 5%;
     width: 70%;
}

section .jobcontainer {
     border: 2px solid #796ACD;
     border-style: dashed;
     border-radius: 5px;
     width: 60%;
     padding: 3em;
     display: flex;
     flex-direction: column;
     gap: 2.5em;
}

.input_for_jobpost,
.inputcountry,
.proposal_input {
     width: 100%;
     padding: 12px 0px 12px 12px;
     border-radius: 5px;
     border: 1.5px solid rgba(0, 0, 0, 0.30);
     color: rgba(0, 0, 0, 1);
     font-family: Montserrat;
     font-size: 13px;
     font-weight: 550;
     line-height: normal;
     letter-spacing: 0.51px;
     resize: none;
}

/* .input_for_jobpost:hover,
.inputcountry:hover,
.proposal_input:hover {
     
} */

::placeholder {
     color: rgba(0, 0, 0, 0.30);
}

section .jobcontainer div {
     display: flex;
     flex-direction: column;
     gap: 0.3em;
}

section .jobcontainer div .countryDropdown {
     display: flex;
     flex-direction: column;
     width: 100%;
     background-color: white;
     border-radius: 5px;
     border: 1.5px solid rgba(0, 0, 0, 0.30);
     max-height: 200px;
     overflow-y: scroll;
}

section .jobcontainer div .countryDropdown p {
     padding-left: 1em;
     color: rgba(0, 0, 0, 0.30);
     font-family: Montserrat;
     font-size: 13px;
     font-weight: 550;
     line-height: normal;
     letter-spacing: 0.51px;
     cursor: pointer;
}

section .jobcontainer div .countryDropdown p:hover {
     color: #000;
}


.li1 .blk1>div {
     display: flex;
     flex-direction: row;
     gap: 2em;

}

.li1 .blk1>div>.fixpayment,
.li1 .blk1>div>.hourlypayment {
     color: white;
     padding: 0.7em 3em;
     width: fit-content;
     border-radius: 4px;
     font-size: 15px;
     font-weight: 500;
     cursor: pointer;
     transition: all 0.3s;
}


.li1 {
     display: flex;
     flex-direction: column;
     gap: 3em;
}


.li1 .blk2 {
     border: 2px solid #796ACD;
     border-style: dashed;
     border-radius: 5px;
     width: 60%;
     padding: 3em;
     margin-top: 1.5em;
     display: flex;
     flex-direction: column;
     gap: 4em;
}

.li1 .blk2 .duration {
     position: relative;
     width: fit-content;
}

.li1 .blk2 .duration .dropdownBtn {
     width: 10em;
     padding: 0.3em 2em;
     align-items: center;
     color: black;
     border: 1px solid rgba(0, 0, 0, 0.30);
     border-radius: 3px;
     font-family: Montserrat;
     font-size: 15px;
     font-style: normal;
     font-weight: 500;
     line-height: 28.078px;
     letter-spacing: 0.317px;
     transition: all 0.3s;
     display: flex;
     align-items: center;
     gap: 0.6em;
}



.li1 .blk2 .duration .dropdownContent {
     width: 100%;
     border-radius: 5px;
     border: 1px solid rgba(0, 0, 0, 0.30);
     background: #fff;
     font-weight: 500;
     color: #333;
     position: absolute;
     top: 5em;
     right: 0px;
}

.li1 .blk2 .duration .dropdownContent p {
     padding: 0.5em 2em;
     font-family: Montserrat;
     font-size: 15px;
     margin: 0;
     font-style: normal;
     font-weight: 500;
     line-height: 28.078px;
     letter-spacing: 0.317px;
}


.dropdownBtn:hover {
     color: rgba(121, 106, 205, 1);
}




.dropdownContent .dropdownItem:hover {
     background: rgba(121, 106, 205, 0.18);
}


.li1 .JTD_input,
.Price .Price_input {
     display: flex;
     flex-direction: row;
     align-items: center;
     gap: 0.3em;
}

.li1 .JTD_input input,
.Price .Price_input input {
     -webkit-appearance: none;
     margin: 0;
     padding: 12px 0px 12px 12px;
     border-radius: 5px;
     border: 1.5px solid rgba(0, 0, 0, 0.30);
     color: rgba(0, 0, 0, 1);
     font-family: Montserrat;
     font-size: 13px;
     font-weight: 550;
     line-height: normal;
     letter-spacing: 0.51px;
     resize: none;
}

.li1 .JTD_input span,
.Price .Price_input span {
     padding: 0em 1em;
     font-family: Montserrat;
     font-size: 15px;
     margin: 0;
     font-style: normal;
     font-weight: 500;
     line-height: 28.078px;
     letter-spacing: 0.317px;
}



.li1 .radios {
     display: flex;
     flex-direction: column;
     gap: 0.5em;
     margin-left: 1em;
}

.radios .option {
     display: flex;
     flex-direction: row;
     align-items: center;
     gap: 0.2em;
}

.radios .option p {
     padding: 0em 0.3em;
     font-family: Montserrat;
     font-size: 15px;
     margin: 0;
     font-style: normal;
     font-weight: 390;

}

.li1 .blk_skills .skillsitem {
     background-color: #796ACD;
     color: white;
     width: fit-content;
     padding: 0.3em 1em;
     border-radius: 3px;
     font-size: 15px;
     font-weight: 500;
     display: flex;
     flex-direction: row;
     align-items: center;
     gap: 0.2em;
}

.li1 .blk_skills {
     border: 2px solid #796ACD;
     border-style: dashed;
     border-radius: 5px;
     width: 60%;
     padding: 2em;
     margin-top: 1.5em;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     gap: 1em;
}

.blk_skills .skillsitem img {
     width: 10px;
     height: 10px;
     margin-left: 10px;
     opacity: 0.5;
     cursor: pointer;
}

.blk_skills .skillsitem img:hover {
     opacity: 1;
}


.li1 .blk_skills input {
     padding: 7px 0px 7px 12px;
     border-radius: 5px;
     border: 1.5px solid rgba(0, 0, 0, 0.30);
     color: rgba(0, 0, 0, 1);
     font-family: Montserrat;
     font-size: 13px;
     font-weight: 550;
     line-height: normal;
     letter-spacing: 0.51px;
     resize: none;
}


.jobcontainer .lbtn {
     width: 100%;
     display: flex;
     flex-direction: row;
     justify-content: flex-end;
     margin-top: 2em;
}

.lbtn .post {
     width: fit-content;
     padding: 0em 3em;
}
