* {
     color: #000;
     font-family: Montserrat;
     font-style: normal;
     line-height: normal;
     margin: 0px;
     padding: 0px;
}

.body {
     display: flex;
     flex-direction: column;
     align-items: center;
}

.bodyforload {
     position: absolute;
     top: 45%;
     left: 47%;
}


.section {
     display: flex;
     gap: 3em;
     margin-top: 70px;
}

.searchFeed {
     height: 744px;
     display: flex;
     flex-direction: column;
     gap: 2em;

}


.search {
     width: 50em;
     height: 2.5em;
     border-radius: 26px;
     border: 2px solid rgba(121, 106, 205, 0.70);
     display: flex;
     align-items: center;
     justify-content: space-between;
}

.search .searchIcon {
     width: 1.2em;
     height: 1.2em;
     flex-shrink: 0;
     padding: 0.35em 2em 0.35em 1.5em;
     border-left: 2.5px solid #796ACD;
     opacity: 0.7;
     cursor: pointer;
}

.search .closeIcon {
     width: 1em;
     height: 1em;
     flex-shrink: 0;
     padding: 0.5em 1.5em;
     opacity: 0.7;
     cursor: pointer;
}

.closeIcon:hover,
.searchIcon:hover {
     opacity: 1;
}

.icons {
     display: flex;
     align-items: center;
}

.search input {
     outline: none;
     border: none;
     margin-left: 2em;
     color: rgba(121, 106, 205, 1);
     font-family: Montserrat;
     font-size: 19px;
     font-style: normal;
     font-weight: 600;
     line-height: 16.915px;
     letter-spacing: 0.562px;
     width: 80%;
}

.search input::placeholder {
     color: rgba(121, 106, 205, 0.63);
     font-family: Montserrat;
     font-size: 17px;
     font-style: normal;
     font-weight: 500;
     line-height: 16.915px;
     letter-spacing: 0.562px;
}

.search input:focus {
     outline: none;
     border: none;
}

.feed {
     width: 44em;
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     gap: 2em;
}

.feed>p {
     color: #000;
     font-family: Montserrat;
     font-size: 20px;
     font-style: normal;
     font-weight: 645;
     line-height: normal;
     letter-spacing: 0.48px;
     padding-left: 1em;
}

.feedJob1 {
     width: 100%;
     background-color: #796ACD;
     border-radius: 3px;
     padding: 2em 3em;
     display: flex;
     flex-direction: column;
     gap: 0.5em;
     cursor: pointer;
     transition: all 0.3s;
}

.feedJob1:hover {

     background-color: #5a4cad;

}

.feedJob1>p {
     color: #FFF;
     font-family: Montserrat;
     font-size: 10px;
     font-style: normal;
     font-weight: 500;
     line-height: normal;
     letter-spacing: 0.3px;
}




.filter {
     border-radius: 3px;
     border: 2px solid #796ACD;
     width: auto;
     flex-shrink: 0;
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 0em 1em;
     height: fit-content;
}


.filter>p {
     margin: 20px 0px;
     color: #796ACD;
     font-family: Montserrat;
     font-size: 1.4em;
     font-style: normal;
     font-weight: 600;
     line-height: normal;
     letter-spacing: 0.562px;
}

.filter .filtering {
     border-top: 2px solid #796ACD;
     margin-bottom: 20%;
}

.filter .filtering .filterOption,
.filter .filtering .filterOptionPrice {
     display: flex;
     flex-direction: column;
     align-items: flex-start
}

.filteringTitle {
     margin: 20px 0px 0px 0px;
     color: #796ACD;
     font-family: Montserrat;
     font-size: 0.9em;
     font-style: normal;
     font-weight: 600;
     line-height: normal;
     letter-spacing: 0.402px;
}

.checkboxGroup {
     display: flex;
     flex-direction: column;
     margin: 0.5em 0em 0.5em 1em;
     gap: 0.3em;
     position: relative;
}

/* ######################################################################## */
select {
     padding: 3px 6px;
     border: 1px solid #796ACD;
     border-radius: 3px;
     color: #796ACD;
}

select option {
     border: 1px solid #796ACD;
     border-radius: 3px;
     color: #796ACD;
}

select:focus,
select:active {
     outline: none;
     /* Remove the outline on focus and active states */
     border-color: #796ACD;
     /* Set the border color to your desired color */
}




/* ######################################################################## */
.checkboxTest {
     display: flex;
}

.checkboxTest label {
     margin-left: 0.5em;
     color: #796ACD;
     font-family: Montserrat;
     font-size: 12px;
     font-style: normal;
     font-weight: 500;
     line-height: normal;
     letter-spacing: 0.33px;
     display: flex;
     align-items: center;
     gap: 3px;
}

input[type=checkbox] {
     padding: 0.1em;
     accent-color: #796ACD;
     transition: 0.3s;
}

.type {
     margin-left: 1em;
     display: flex;
     flex-direction: column;
     gap: 0.4em;
}

.checkboxGroupHourly,
.checkboxGroupFix {
     display: flex;
     flex-direction: column;
     margin: 0.5em 0em 0.5em 1em;
     gap: 0.8em;

}

.type .checkboxTest .val {
     display: flex;
     padding: 3px 8px;
     align-items: center;
     border-radius: 1px;
     border: 0px;
     background: #EDEBEB;
     text-align: center;
     color: #796ACD;
     font-family: Montserrat;
     font-size: 11px;
     font-style: normal;
     font-weight: 500;
     line-height: normal;
     letter-spacing: 0.51px;
     width: 5em;
}

.valFrom,
.valTo {
     display: flex;
     padding: 3px 8px;
     align-items: center;
     border-radius: 1px solid #796ACD;
     border: 0px;
     background: #EDEBEB;
     text-align: center;
     color: #796ACD;
     font-family: Montserrat;
     font-size: 11px;
     font-style: normal;
     font-weight: 500;
     line-height: normal;
     letter-spacing: 0.51px;
     width: 3em;
}

.valFrom::placeholder,
.valTo::placeholder {
     color: #796ACD;
     font-family: Montserrat;
     font-size: 9px;
     font-style: normal;
     font-weight: 500;
     line-height: normal;
     letter-spacing: 0.165px;
}

.type .checkboxTest .val::placeholder {
     color: #796ACD;
     font-family: Montserrat;
     font-size: 9px;
     font-style: normal;
     font-weight: 500;
     line-height: normal;
     letter-spacing: 0.165px;
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
     -webkit-appearance: none;
     margin: 0;
}





.checkboxTest input[type="number"]:focus {
     outline: none;
     border: none;
}

.checkboxTest input[type="radio"] {
     -webkit-appearance: none;
     appearance: none;
}

.checkboxTest label {
     position: relative;
     padding-left: 25px;
}

.checkboxTest label::before {
     content: "";
     width: 16px;
     height: 16px;
     border: 1px solid #796ACD;
     border-radius: 1px;
     position: absolute;
     left: 0;
     top: 50%;
     transform: translateY(-50%);
     background: white;
}

.checkboxTest input[type="radio"]:checked+label::after,
.checkboxTest input[type="radio"]:not(:checked):hover+label::after {
     content: "";
     background-color: #796ACD;
     border-radius: 1px;
     width: 10px;
     height: 10px;
     position: absolute;
     left: 3px;
     top: 3px;
}

.type .checkboxTest input[type="radio"]:checked+label::after,
.type .checkboxTest input[type="radio"]:not(:checked):hover+label::after {
     content: "";
     background-color: #796ACD;
     border-radius: 1px;
     width: 10px;
     height: 10px;
     position: absolute;
     left: 3px;
     top: 3px;
}

.checkboxTest input[type="radio"]:not(:checked):hover+label::after {
     opacity: 0.2;
}

.checkboxTest input[type="radio"]:checked+label {
     color: #796ACD;
}

.jobTitle {
     color: #FFF;
     font-family: Montserrat;
     font-size: 16px;
     font-style: normal;
     font-weight: 600;
     line-height: normal;
     letter-spacing: 0.45px;
}

.feed .budget,
.feed .publishedDate {
     color: #FFF;
     font-family: Montserrat;
     font-size: 9px;
     font-style: normal;
     font-weight: 600;
     line-height: normal;
     letter-spacing: 0.21px;
}

.publishJobTitleBudget {
     display: flex;
     flex-direction: column;
     gap: 0.4em;
}

.skills_jobtitle2_paragraph {
     display: flex;
     flex-direction: column;
     gap: 0.7em;
     margin-left: 10px;
}

.jobTitle2 {
     color: #FFF;
     font-family: Montserrat;
     font-size: 13px;
     font-style: normal;
     font-weight: 400;
     line-height: normal;
     letter-spacing: 0.3px;
}

.skillsNeeded {
     color: #FFF;
     font-family: Montserrat;
     font-size: 10px;
     font-style: normal;
     font-weight: 600;
     line-height: normal;
     letter-spacing: 0.3px;
}

.lastParagraph {
     display: flex;
     gap: 27px;
     align-items: center;
}

.verification,
.rating,
.location {
     display: flex;
     align-items: center;
}

.rating img,
.location img,
.verification img {
     width: 14px;
     height: 13px;
     flex-shrink: 0;
}

.rating p,
.location p,
.verification p {
     margin-left: 5px;
     color: #FFF;
     font-family: Montserrat;
     font-size: 10px;
     font-style: normal;
     font-weight: 600;
     line-height: normal;
     letter-spacing: 0.21px;
}



.nojobs {
     width: 100%;
     border-radius: 3px;
     padding: 2em 3em;
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 0.5em;
}

.nojobs h1 {
     font-size: 16px;
     color: rgb(236, 0, 0);
}

.nojobs img {
     width: 150px;
}